<div class="game-container" style="height: 800px;">
  <div class="row">
    <div class="animate game-title noselect">
      <span>Ś</span>
      <span>M</span>
      <span>I</span>
      <span>E</span>
      <span>R</span>
      <span>Ć</span>&nbsp;
      <span>I</span>&nbsp;
      <span>B</span>
      <span>Ó</span>
      <span>L</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-4 car-choose-component" (click)="onCarChosenButtonClicked('hulk')"> <span style="font-size: 35px">Hulk Car</span> <br /> Duży i silny <br /> <img src="/assets/hulk-car.gif"></div>
    <div class="col-lg-4 car-choose-component" (click)="onCarChosenButtonClicked('spiderman')"> <span style="font-size: 35px">Spiderman Car</span> <br /> Szybki i zwinny <br /><img src="/assets/spiderman-car.gif"></div>
  </div>
</div>
